<div *ngFor="let coin of coins" class="box30">
    <div class="box-title">{{coin.name}}</div>
    <div class="box-container">
      <table class="balance-table">
      　<tr>
      　　<th class="r1">コイン</th>
      　　<th class="r2">残高</th>
      　</tr>
      　<tr>
        　　<td>{{coin.name}}Coin</td>
        　　<td>{{coin.balanceOf}}</td>
        </tr>
        　<tr>
          　　<td>自分コイン発行量</td>
          　　<td>未実装</td>
          　</tr>
      　<tr>
        　　<td class="subtitle">個人コイン</td>
        　　<td class="subtitle"></td>
        </tr>
      　<tr>
      　　<td>未実装</td>
      　　<td>未実装</td>
      　</tr>
      </table>
      <a (click)="deleteCoin(coin)">delete coin from the list.</a>
    </div>
</div>

新しいコミュニティコインを登録する<br>
<input [(ngModel)]="coinName" placeholder="CommunityCoin name"/><br>
<input [(ngModel)]="coinAddress" placeholder="CommunityCoin contract address"/><br>
<button (click)="registerCoin()">新しいコインを登録する</button><br>

<br>
<button (click)="refleshList()">コインリストの最新化</button>
