

<div class="tabs">
  <input id="balance" type="radio" name="tab_item" checked>
  <label class="tab_item" for="balance">BALANCE</label>
  <input id="send_coin" type="radio" name="tab_item">
  <label class="tab_item" for="send_coin">SEND COIN</label>
  <input id="details" type="radio" name="tab_item">
  <label class="tab_item" for="details">DETAILS</label>
  <div class="tab_content" id="balance_content">
    <div class="tab_content_description">
      <app-communities></app-communities>
    </div>
  </div>
    <div class="tab_content" id="send_coin_content">
      <div class="tab_content_description">
        <p class="c-txtsp">プログラミングの内容がここに入ります</p>
      </div>
    </div>
    <div class="tab_content" id="details_content">
      <div class="tab_content_description">
        <h4>About This App</h4>
        <p class="c-txtsp">
            This application is a demo of community coin wallet.
            <br>作成者：Kazuki Asa
        </p>
      </div>
    </div>
  </div>

<!--<app-messages></app-messages>-->
<router-outlet></router-outlet>
